// Sidebar
#sidebar-wrapper.border-end.bg-white
    .sidebar-heading.border-bottom.bg-light CleverNimbus
    .list-group.list-group-flush
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='index.html') Shortcuts
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='index.html') Overview
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='index.html') Events
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='index.html') Profile
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='index.html') Status
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='athing.html') Dashboard