doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Clever Nimbus Landing Page')
        meta(name='author', content='CleverNimbus')

        title CleverNimbus main site

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug
    body
        include includes/navbar.pug

        #wrapper.d-flex
            include includes/sidebar.pug

            // Page content wrapper
            #page-content-wrapper
                // Masthead
                header.masthead
                    .container.position-relative
                        .row.justify-content-center
                            .col-xl-6
                                .text-center.text-white
                                    // Page heading
                                    h1.mb-5 Welcome to Clever Nimbus!

                // Icons Grid
                section.features-icons.bg-light.text-center
                    .container
                        .row
                            .col-lg-4
                                .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                                    .features-icons-icon.d-flex
                                        i.bi-window.m-auto.text-primary
                                    h3 CleverNimbus
                                    p.lead.mb-0 Ut luctus libero at lacus accumsan facilisis. Pellentesque quis malesuada augue.
                            .col-lg-4
                                .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                                    .features-icons-icon.d-flex
                                        i.bi-layers.m-auto.text-primary
                                    h3 CleverNimbus
                                    p.lead.mb-0 Ut luctus libero at lacus accumsan facilisis. Pellentesque quis malesuada augue.
                            .col-lg-4
                                .features-icons-item.mx-auto.mb-0.mb-lg-3
                                    .features-icons-icon.d-flex
                                        i.bi-terminal.m-auto.text-primary
                                    h3 CleverNimbus
                                    p.lead.mb-0 Ut luctus libero at lacus accumsan facilisis. Pellentesque quis malesuada augue.

                // Image Showcases
                section.showcase
                    .container-fluid.p-0
                        .row.g-0
                            .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-1.jpg');")
                            .col-lg-6.order-lg-1.my-auto.showcase-text
                                h2 CleverNimbus
                                p.lead.mb-0
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae turpis scelerisque, dictum quam eu, aliquam tellus.
                        .row.g-0
                            .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-2.jpg');")
                            .col-lg-6.my-auto.showcase-text
                                h2 CleverNimbus
                                p.lead.mb-0
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae turpis scelerisque, dictum quam eu, aliquam tellus.
                        .row.g-0
                            .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-3.jpg');")
                            .col-lg-6.order-lg-1.my-auto.showcase-text
                                h2 CleverNimbus
                                p.lead.mb-0
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae turpis scelerisque, dictum quam eu, aliquam tellus.

                // Testimonials
                section.testimonials.text-center.bg-light
                    .container
                        h2.mb-5 Ready to get started?
                        .row
                            .col-lg-4
                                .testimonial-item.mx-auto.mb-5.mb-lg-0
                                    img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-unknown.jpg', alt='...')
                                    h5 CleverNimbus
                                    p.font-weight-light.mb-0 "Ready to get started?"
                            .col-lg-4
                                .testimonial-item.mx-auto.mb-5.mb-lg-0
                                    img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-unknown.jpg', alt='...')
                                    h5 CleverNimbus
                                    p.font-weight-light.mb-0 "Ready to get started?"
                            .col-lg-4
                                .testimonial-item.mx-auto.mb-5.mb-lg-0
                                    img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-unknown.jpg', alt='...')
                                    h5 CleverNimbus
                                    p.font-weight-light.mb-0 "Ready to get started?"

                // Call to Action
                section#signup.call-to-action.text-white.text-center
                    .container.position-relative
                        .row.justify-content-center
                            .col-xl-6
                                h2.mb-4 Ready to get started?

        include includes/footer.pug

        include includes/scripts.pug